:root{
    --bg1 : #9b59b6;
    --bg2 : #3498db;
    --text : #26ade4;
}

body{
    background:  linear-gradient(to bottom right,var(--bg1),var(--bg2));;  
    margin: 0px;
}
#header h1{
    color: midnightblue;
    text-align: center;
}

.form-text{
    background: white;   
    border-radius: 10px; 
    width: 800px;
    height: 300px;
    margin-left: 250px;
}

.graphics{
    display: flex;
    height: 50px;
    width: 300px;
    margin: 20px;
}
.graphics label{
    margin: 10px;
    height: 50px;
    width: 100%;
}
.graphics button{
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    height: 50px;
}

.sound{
    display: flex;
    height: 50px;
    width: 300px;
    margin: 20px;
}
.sound label{
    margin: 10px;
    height: 50px;
    width: 100%;
}
.sound button{
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    height: 50px;
}

.brightness{
    display: flex;
    height: 50px;
    width: 300px;
    margin: 20px;
}
.brightness label{
    margin: 10px;
    height: 50px;
    width: 100%;
}
.brightness button{
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    height: 50px;
    width: 400px;
}

.div{
    border-radius: 10px;
    margin-left: 500px;
}